#inputs_area {
  display: flexbox;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
}

textarea {
  margin: 10px;
}

textarea:focus {
  transition-duration: 0.5s;
  border: 2px solid;
  margin: 8px;
}

#html_inputs:focus {
  background-color: lightgreen;
}

#css_inputs:focus {
  background-color: lightcoral;
}

#js_inputs:focus {
  background-color: lightskyblue;
}

#progress {
  background: rgb(255, 0, 0);
  /* color: black; */
  width:25%;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: lightskyblue;
}

#output_result {
  border: solid 2px;
  min-height: 30vh;
}